.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.searchCar{

    height: 600px;
    background-image: url("../images/neveraBg.jpeg");
    background-size: cover;
}

.searchPart{

    height: 600px;
    background-image: url("../images/partsBg.jpeg");
    background-size: cover;
}

.infoCar{

    height: 600px;
    background-color: #00E7F2;
}

.textCar{

    color: #fff;
    font-size: large;
    padding-left: 25px;
    padding-top: 15px;
}

.infoPart{

    height: 600px;
    background-color: #2E8BC0;
}

.linkB{

    margin-top: 40%;
    
}

.traziBut{

    text-decoration: inherit;
    color: #fff;
    font-size: larger;
}

.traziBut:hover{

    transition: 0.6s;
    background-color: #fff;
    color: #555;
    padding: 5px;
}

.footImg{

    padding-right: 20px;
}

.antePics{

    padding-top: 10%;
    padding-bottom: 5%;
    background-color:  #DADADA;
}

.jurePics{

    padding-top: 10%;
    padding-bottom: 5%;
    background-color: #BBBDBD;
}

.infoAnte{

    background-color: #00E7F2;
    color: #fff;
    font-size: larger;
    list-style-type: none;
}

.infoJure{

    background-color: #2E8BC0;
    padding-left: 1%;
    color: #fff;
    font-size: larger;
    list-style-type: none;
}

.topInfoPage{

    height: 700px;
    background-image: url("../images/infoBac.png");
    background-size: cover;
}

.frontend{

    background-color: #2E8BC0;
    color: #fff;
    font-size: larger;

}

.backend{

    background-color: #00E7F2;
    color: #fff;
    font-size: larger;

}




